servers = (
  {
    address = "irc.mozilla.org";
    chatnet = "Mozilla";
    port = "6667";
    use_ssl = "no";
    ssl_verify = "no";
    autoconnect = "yes";
  },
  {
    address = "irc.freenode.net";
    chatnet = "Freenode";
    port = "6697";
    use_tls = "yes";
    tls_verify = "yes";
    autoconnect = "yes";
  },
  {
    address = "irc.snoonet.org";
    chatnet = "Snoonet";
    port = "6697";
    use_tls = "yes";
    tls_verify = "yes";
    autoconnect = "yes";
  }
);

chatnets = {
  Freenode = {
    type = "IRC";
    sasl_mechanism = "PLAIN";
    sasl_username = "danpker";
    sasl_password = "%%%PASSWORD%%%";
  };
  Mozilla = {
    type = "IRC";
    nick = "danpker";
    autosendcmd = "/^msg nickserv identify danpker %%%PASSWORD%%%";
  };
  Snoonet = {
    type = "IRC";
    sasl_mechanism = "PLAIN";
    sasl_username = "danpker";
    sasl_password = "%%%PASSWORD%%%";
  };
};

channels = (
  { name = "#rust"; chatnet = "Mozilla"; autojoin = "yes"; },
  { name = "#rust-gamedev"; chatnet = "Mozilla"; autojoin = "yes"; },
  { name = "#python"; chatnet = "Freenode"; autojoin = "yes"; },
  { name = "#alacritty"; chatnet = "Freenode"; autojoin = "yes"; }
);

settings = {
  core = {
    real_name = "Daniel Parker";
    user_name = "danpker";
    nick = "danpker";
  };
  "fe-text" = { 
    actlist_sort = "refnum";
    term_force_colors = "yes";
    scrollback_time = "7day ";
  };
  "fe-common/core" = {
    theme = "xchat";
  };
};
