# Git branch
git_branch() {
      git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/(\1)\ /';
}

# Remove specififed file type
function purge {
    echo "Purging .$1 files"
    num_cleared=$(find . -name "*.$1" | wc -l)
    echo "Deleting $num_cleared files"
    find . -name "*.$1" -delete
}

function clean_merged {
    git branch --merged | grep -v "master" | grep -v "dev" | grep -v "develop" | while read i; do git branch -d $i; done;
}

function run_until_fail {
    $@
    while [ $? -eq 0 ]; do
        $@
    done
}

# Connect to Mech via plain ssh without python wrapping it
function mssh () {
    temp_file=$(mktemp)
    mech ssh-config > ${temp_file}
    ssh -F ${temp_file} mech
    rm ${temp_file}
}

function memphis_ip () {
    vmrun -T fusion getGuestIPAddress "/Users/danielparker/Virtual Machines.localized/Ubuntu 64-bit Server 20.04.vmwarevm/Ubuntu 64-bit Server 20.04.vmx" -wait
}

function memphis_start () {
    vmrun start "/Users/danielparker/Virtual Machines.localized/Ubuntu 64-bit Server 20.04.vmwarevm/Ubuntu 64-bit Server 20.04.vmx" nogui
}

function memphis_stop () {
    vmrun stop "/Users/danielparker/Virtual Machines.localized/Ubuntu 64-bit Server 20.04.vmwarevm/Ubuntu 64-bit Server 20.04.vmx"
}
