command_exists () {
    type "$1" &> /dev/null ;
}

# Git branch
git_branch() {
      git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/(\1)\ /';
}

# Remove specififed file type
function purge {
    echo "Purging .$1 files"
    num_cleared=$(find . -name "*.$1" | wc -l)
    echo "Deleting $num_cleared files"
    find . -name "*.$1" -delete
}

function clean_merged {
    git branch --merged | grep -v "master" | grep -v "dev" | grep -v "develop" | while read i; do git branch -d $i; done;
}

function run_until_fail {
    $@
    while [ $? -eq 0 ]; do
        $@
    done
}

function cb () {
    git checkout $(git branch | fzf-tmux -d 15)
}

# color stuff
function reload_nvim {
    if command_exists nvr ; then
        for SERVER in $(nvr --serverlist); do
            nvr -cc "source ~/.config/nvim/init.vim" --servername $SERVER &
        done
    fi
}

alias night="base16_gruvbox-dark-soft && reload_nvim"
alias day="base16_gruvbox-light-soft && reload_nvim"

alias d-hdmi=" xrandr --output eDP-1 --off --output HDMI-1 --auto"
alias d-laptop=" xrandr --output eDP-1 --auto --output HDMI-1 --off"
alias d-both=" xrandr --output eDP-1 --auto --output HDMI-1 --auto"
alias vim="nvim"
alias vi="nvim"
alias oldvim="\vim"

if command_exists docker ; then
    alias docker-stop-all="docker stop $(docker ps -q)"
fi
